.row {
	display: flex;
	justify-content: space-evenly;
}
.imgs {
	width: 300px;
	height: 300px;
	background-image: url(../img/imagen1.png);
	background-size: cover;
	border-radius: 100%;
	margin-top: 200px;
	margin-bottom: 120px;
}
.imgs2 {
	width: 300px;
	height: 300px;
	background-image: url(../img/imagen2.png);
	background-size: cover;
	border-radius: 100%;
	margin-top: 200px;
	margin-bottom: 120px;
}
.imgs3 {
	width: 300px;
	height: 300px;
	background-image: url(../img/imagen3.png);
	background-size: cover;
	border-radius: 100%;
	margin-top: 200px;
	margin-bottom: 120px;
}
.imgs4 {
	width: 300px;
	height: 300px;
	background-image: url(../img/imagen4.png);
	background-size: cover;
	border-radius: 100%;
	margin-top: 200px;
	margin-bottom: 120px;
}
.pimg {
	text-align: center;
	margin-top: 330px;
}